body {
    margin: 0%;
    background-color: #574135;
}

main {
    font-family: Cambria;
}

#banner {
    width: 100%;
    height: auto;
}

.banner-content {
    position: relative;
}

.banner-buttons {
    position: absolute;
    bottom: 4px;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
}

.banner-buttons a {
    display: flex;
    justify-content: center;
    flex: 1;
    border: 5px solid green;
    color: white;
    background-color: black;
    font-size: 35px;
    margin-left: 1%;
    margin-right: 1%;
    text-decoration: none;
    font-family: Cambria;
    font-weight: bold
}

.banner-buttons a:hover {
    background-color: white;
    color: black;
}

.banner-buttons a.active {
    background-color: #d91614;
    color: white;
}

.content-wrapper {
    position: relative;
    margin: 1%;
    width: auto;
    height: auto;
    background-color: #fff;
    display: flex;
    border: 5px solid #d91614;
}

.stores-image {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.image-with-text {
    display: flex;
}

.image-with-text img {
    width: 50%;
    height: auto;
}

.image-with-text p {
    margin-left: 2%;
    font-size: 1.2rem;
    text-align: right;
}

.story {
    padding: 20px;
    width: 50%;
    font-size: 20px;
}

.imageOld img {
    width: 100%;
    margin: 1%;
    margin-top: 1%;
}

.image {
    width: 50%;
}

.image img {
    width: 100%;
    height: 100%;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
    line-height: 1;
}

/* Estilos para dispositivos móveis */
@media (max-width: 600px) {
    .banner-buttons {
        display: flex;
        flex-direction: row;
    }

    .banner-buttons a {
        border: 2px solid green;
        font-size: 100%;
    }

    .content-wrapper {
        flex-wrap: wrap;
        box-sizing: border-box;
        border: 2px solid #d91614;
    }

    .story,
    .image {
        width: auto;
    }

    .image {
        order: -1;
    }
}